<div class="row">

    <div class="col-md-12" ng-init="ctrl.loadImage(item.createdAt)">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <span  class="panel-title"> <h3 class="panel-title">{{item.title}}</h3> <h5 class="panel-title" > written by {{item.writer}} </h5></span>
                    </div>
                    <div class="col-md-6">
                        <h3 style="text-align: right" class="panel-title">{{item.createdAt | date:'medium'}}</h3>
                    </div>
                </div>
            </div>
            <div class="panel-body no-padding partition-dark-primary">


                <div ng-if="item.img !== undefined">
                    <div class="col-md-6 ">

                        <div class="padding-15 partition-light-primary no-padding" style="margin-bottom: 30px; margin-top: 30px">
                            <p>
                                {{item.text}}
                            </p>
                        </div>
                        <div ng-if="item.yt_url !== undefined">
                            <div class="col-md-12" style="margin-bottom: 30px;">
                                <iframe style="display:block;margin:auto"
                                        type="text/html" width="640" height="360"
                                        src="{{item.yt_url | youtubeEmbedUrl}}"
                                        frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>

                </div>

                <div ng-if="item.img == undefined">
                    <div class="col-md-12 ">

                        <div class="padding-15 partition-light-primary no-padding" style="margin-bottom: 30px; margin-top: 30px">
                            <p>
                                {{item.text}}
                            </p>
                        </div>
                        <div ng-if="item.yt_url !== undefined">
                            <div class="col-md-12" style="margin-bottom: 30px;">
                                <iframe style="display:block;margin:auto"
                                        type="text/html" width="640" height="360"
                                        src="{{item.yt_url | youtubeEmbedUrl}}"
                                        frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>


                <div ng-if="item.img !== undefined">
                    <div class="col-md-6 no-padding">
                        <div class="padding-15">
                            <p>
                            <div uib-carousel active="0" interval="0" no-wrap="false">
                                <div uib-slide ng-repeat="itemphoto in imagesource[item.createdAt] track by itemphoto.id" index="itemphoto.id">
                                    <img ng-src="{{itemphoto.image || 'static/assets/images/product_default.png'}}" style="margin: auto; height: 300px; width: auto;">
                                </div>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
</div>

</div>