<!-- NEWS FEED-->
<div id="news" class="col-md-12">

	<!--NEW NEW (lol, nouvelle news quoi)-->

	<div class="container-fluid container-fullw">
		<div ng-controller="NewsController as ctrl">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-white">
						<div class="panel-heading">
							<div class="panel-title">
								{{ currentOrga.name }}
							</div>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<div class="row">
									<div class="col-md-6">
										<div class="note-editor">
										<textarea class="form-control autosize" ng-model="news_form.text" style="overflow: hidden; word-wrap: break-word; resize: vertical	; height: 100px;">
									</textarea>
										</div>
									</div>
									<div class="col-md-6">
										<button type="button" ng-click="ctrl.clickOnSubmit()" class="btn btn-wide btn-azure">
											Submit
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--FEED-->

</div>
<!-- END: NEWS FEED-->
