<div class="orgaActivityContainer" ng-controller="OrgaActivityController">
    <div class="page-header">
        <h1>
            <span translate="notification.organisation.title"></span>
        </h1>
    </div>
    <!-- Sample 4 -->
    <div class="row">
        <!-- BEGIN: TIMELINE-->
        <div id="timelineContainer" class="col-md-6">
            <div class="orgaActivityLoading" class="col-md-6">
                <i class="fa fa-spinner fa-spin"></i>
                <span translate="notification.LOADING"> </span>
            </div>
            <ul class="timeline displayNone" style="cursor: default;">
                <li>
                    <div class="tldate">{{date | date: 'yyyy-MM-dd'}}</div>
                </li>
                <li ng-repeat="data in histo">
                    <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4 ><a href="#/app/{{data.sender.type}}/{{data.sender.name}}/{{data.sender.id}}">{{data.sender.name}}</a> -> <a href="#/app/{{data.subject.type}}/{{data.subject.name}}/{{data.subject.id}}">{{data.subject.name}}</a></h4>
                        </div>
                        <p>
                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{data.date}}</small>
                        </p>
                        <div class="tl-body">
                            <p><span translate="notification.organisation.messages.{{data.category}}"></span></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- END: TIMELINE-->
        <!-- BEGIN: OPTION-->
        <div id="filterContainer" class="col-md-6">
            <!-- BEGIN: FILTER-->
            <div id="filterContainer" class="col-md-12">
                <div>
                    <h3>
                        <span translate="notification.organisation.filter.title"></span>
                    </h3>
                    <hr />
                </div>
                <!-- BEGIN: DATESLIDER -->
                <div class="filter">
                    <label>
                        <span translate="notification.organisation.filter.years.title"></span> :
                    </label>
                    <div id="dateSliderFilter"></div>
                </div>
                <!-- END: DATESLIDER -->
		<!-- BEGIN: DONATIONSLIDER -->
                <div class="filter">
		  <!--                  
                  <label><span translate="notification.organisation.filter.donation.title"></span> :</label>
		      <div id="donationSlider">
			<input type="text">
		      </div>
		      -->
                </div>
		<!-- END: DONATIONSLIDER -->
		<span class="select">
                  <!-- BEGIN: CATEGORY -->
                  <div class="filter">
                    <label><span translate="notification.organisation.filter.categories.title"></span> :</label>
                    <div style="display: inline; width: 100%;"
                         isteven-multi-select
                         input-model="filter.categories"
                         output-model="filtered.categories"
                         button-label="name"
                         item-label="name"
                         tick-property="ticked">
                    </div>
                  </div>
                  <!-- END: CATEGORY -->
                  <!-- BEGIN: MEMBER -->
                  <div class="filter">
                    <label><span translate="notification.organisation.filter.member.title"></span> :</label>
                    <div style="display: inline; width: 100%;"
                         isteven-multi-select
                         input-model="filter.members"
                         output-model="filtered.members"
                         button-label="icon name"
                         item-label="name"
                         tick-property="ticked">
                    </div>
                  </div>
		  <!-- END: MEMBER-->
                  <!-- BEGIN: PROJECT -->
                  <div class="filter">
                    <label><span translate="notification.organisation.filter.project.title"></span> :</label>
                    <div style="display: inline; width: 100%;"
                         isteven-multi-select
                         input-model="filter.projects"
                         output-model="filtered.projects"
                         button-label="icon name"
                         item-label="name"
                         tick-property="ticked">
                    </div>
                  </div>
		  <!-- END: PROJECT-->
                  <!-- BEGIN: JOB -->
                  <div class="filter">
                    <label><span translate="notification.organisation.filter.job.title"></span> :</label>
                    <div style="display: inline; width: 100%;"
                         isteven-multi-select
                         input-model="filter.jobs"
                         output-model="filtered.jobs"
                         button-label="icon name"
                         item-label="name"
                         tick-property="ticked">
                    </div>
                  </div>
		  <!-- END: JOB-->
		</span>
            </div>
            <!-- END: FILTER-->
            <!-- EXPORT CONTAINER -->
            <div id="ExportContainer" ng-controller="ExportActivityController" style="text-align: center;" class="col-md-12">
                <div class="filter">
                    <h3>
                        <span translate="notification.organisation.export.title"></span>
                    </h3>
                    <hr />
                    <button width="50%" type="button" class="btn btn-success btn-xl" ng-click="exportActivityModal()">
                      <span translate="notification.organisation.export.button"></span> 
                    </button>
                </div>
		<div style="display: none;">
		  <table id="orgaExportData">
		    <thead>
		      <tr>
			<td translate="notification.organisation.export.header.date"></td>
			<td translate="notification.organisation.export.header.senderAddr"></td>
			<td translate="notification.organisation.export.header.senderName"></td>
			<td translate="notification.organisation.export.header.subjectType"></td>
			<td translate="notification.organisation.export.header.subjectAddr"></td>
			<td translate="notification.organisation.export.header.subjectName"></td>
            <td translate="notification.organisation.export.header.category"></td>
            <td>Note</td>
		      </tr>
		    </thead>
		    <tbody ng-repeat="data in histo">
		      <tr>
			<td>{{data.date}}</td>
			<td>{{data.sender.addr}}</td>
			<td>{{data.sender.name}}</td>
			<td>{{data.subject.type}}</td>
			<td>{{data.subject.addr}}</td>
			<td>{{data.subject.name}}</td>
			<td>{{data.category}}</td>
                  <td ng-if="data.category == 'newDonation'">{{data.amount}} Eth</td>
		      </tr>
		    </tbody>
		  </table>
		</div>
            </div>
            <!-- END: EXPORT CONTAINER-->
        </div>
        <!-- END: OPTION-->
    </div>
</div>
