<div class="modal-header ng-scope">
    <h3 class="modal-title">Add a new product</h3>
</div>
<form name="ProductForm" id="form" class="margin-15" novalidate>
    <fieldset>
        <legend>Product inforamtions</legend>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group" ng-class="{'has-error':ProductForm.name.$dirty && ProductForm.name.$invalid, 'has-success':ProductForm.name.$valid}">
                    <label class="control-label">Product Name <span class="symbol required"/></label>
                    <input type="text" placeholder="Enter your product name" class="form-control" ng-model="product.name" name="name" required>
                    <span class="error text-small block" ng-if="ProductForm.name.$dirty && ProductForm.name.$invalid">Name is mandatory</span>
                    <span class="success text-small block" ng-if="ProductForm.name.$valid"></span>
                </div>

                <div class="form-group" ng-class="{'has-error':ProductForm.description.$dirty && ProductForm.description.$invalid, 'has-success':ProductForm.description.$valid}">
                    <label class="control-label">Product Description <span class="symbol required"/></label>
                    <textarea placeholder="Enter your product description" class="form-control" ng-model="product.description" name="description" rows="7" cols="73" wrap="hard" required/>
                    <span class="error text-small block" ng-if="ProductForm.description.$dirty && ProductForm.description.$invalid">Description is mandatory</span>
                    <span class="success text-small block" ng-if="ProductForm.description.$valid"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Stock : </label>
                    <div class="input-group bootstrap-touchspin">
                        <input type="text" id="stock" ng-model="product.stock" max="99999" name="stock" touchspin="" data-verticalbuttons="true" class="form-control" style="display: block;">
                    </div>
                </div>

                <div class="checkbox clip-check check-primary">
                    <input type="checkbox" id="digitalCheckBox" ng-model="product.isDigital" name="isDigital" />
                    <label for="digitalCheckBox">Is your product digital ?</label>
                </div>
            </div>

            <div class="col-md-6" ng-show="productImageUploader.isHTML5">
                <div class="row form-group">
                    <label class="control-label">Picture of your product</br></label>
                    <span class="btn btn-primary btn-o btn-file">
                        <input type="file" nv-file-select="" uploader="productImageUploader">
                        Browse files ...
                    </span>
                </div>
				<div class="row" ng-repeat="pic in productImageUploader.queue track by $index" ng-if="$index % 3 == 0">
					<div class="col-md-3" 
						ng-repeat="i in [$index, $index + 1, $index + 2]" 
						ng-if="productImageUploader.queue[i] != null">
						<div>
							<div ng-show="productImageUploader.isHTML5" ng-thumb="{ file: productImageUploader.queue[i]._file, width: 100 }"></div>
							<!-- <button class="btn btn-danger text-center" ng-click="removeImage($index)">Delete</button> -->
                        </div>
					</div>
				</div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Payment Informations</legend>

        <div class="row">
            <div class="col-md-6">
                <div>
                    <label>Price of your product : </label>
                    <div class="input-group bootstrap-touchspin">
                        <input type="text" ng-model="product.price" name="price" touchspin="" data-min="0" data-max="99999" data-step="1" data-boostat="5" data-maxboostedstep="10" data-postfix="eth" class="form-control" style="text-align:right;" style="display: block;">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Select your payment mode : </label>
                    <select ng-model="product.paymentMode" ng-init="product.paymentMode = 'direct'" class="form-control">
                        <option value="direct">Direct Payment</option>
                        <option value="escrow">Escrow</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row" ng-if="!product.isDigital">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Select your shipping mode : </label>
                    <select ng-model="product.shippingMode" ng-init="product.shippingMode = 'ups'" class="form-control">
                        <option value="ups">UPS</option>
                        <option value="colissimo">Colissimo</option>
                        <option value="dhl">DHL</option>
                    </select>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="btn-group btn-group-justified btn-block">
        <a ng-click="cancel()" class="btn btn-dark-red">Cancel</a>
        <a type="submit" ng-click="form.submit(ProductForm)" class="btn btn-green">Submit</a>
    </div>
</form>
