<div class="row">
    <div class="col-md-6">
        <div class="panel panel-white">
            <div class="panel-title">

            </div>
            <div class="panel-body">
                <h5 class="over-title margin-bottom-15">Edit your contact preference</h5>

                <div class="panel-group accordion" id="accordion">

                    <div ng-repeat="(k,v) in user.notification_preference">
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h5 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <i class="icon-arrow"></i> {{k}} </a></h5>
                            </div>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">

                                <switch ng-model="" ng-init="filter_taxes = true" tooltip-placement="top" uib-tooltip="Apprnove" class="light"></switch>


                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>