<form>
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="tableFilter" placeholder="Search..." ng-model="searchType">
    </div>
  </div>
</form>
<table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped" id="project">
  <!-- ngInclude: templates.header -->
  <thead class="ng-scope">
    <tr>
      <td>
        <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Name of the organisation
		    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
		    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
		    </a>
      </td>
      <td>
        <a href="#" ng-click="sortType = 'type'; sortReverse = !sortReverse">
		    <span ng-show="sortType == 'desc' && !sortReverse" class="fa fa-caret-down"></span>
		    <span ng-show="sortType == 'desc' && sortReverse" class="fa fa-caret-up"></span>
		        Description
		     </a>
      </td>
      <td>
        <a href="#">Actions</a>
      </td>
    </tr>
    <hr />
  </thead>
  <tbody>
    <!-- ngRepeat: user in $data -->
    <tr ng-repeat="orga in user.organizations  | orderBy:sortType:sortReverse | filter:searchType" class="ng-scope">
      <td data-title="'Name'" filter="{ 'name': 'text' }" data-title-text="Name" class="ng-binding">{{orga.name}}</td>
      <td data-title="'Desc'" style="overflow: hidden" data-title-text="Alias" class="ng-binding">{{orga.description}}</td>
      <td data-title="'Action'" data-title-text="Gender" class="ng-binding">
        <button width="50%" type="button" class="btn btn-primary btn-sm ladda-button">
		        <span class="glyphicon glyphicon-arrow-right ladda-label" ui-sref="app.organization({name: orga.name, _id: orga._id})"> Access </span>
		    </button>
      </td>
    </tr>
    <div ng-if="user.organizations.length == 0" class="h4 text-center">
      <span>
        You are not part of any organization :(
        <a href="#/app/orga/new" class="text-info">
          Create one now!
        </a>
    </span>
    </div>
    <!-- end ngRepeat: user in $data -->
  </tbody>
</table>
