<h2>Project</h2>
<form>
	<div class="form-group">
		<div class="input-group">
			<input type="text" class="tableFilter" placeholder="Search..." ng-model="searchType">
		</div>
	</div>
</form>
<table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped" id="project">
	<!-- ngInclude: templates.header -->
	<thead class="">
		<tr>
			<td class="">
				<a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
		    Project Name
		    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
		    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
		</a>
			</td>
			<td>
				<a href="#" ng-click="sortType = 'Amount'; sortReverse = !sortReverse">
					Current amount raised
					<span ng-show="sortType == 'Amount' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'Amount' && sortReverse" class="fa fa-caret-up"></span>
				</a>
			</td>
			<td>
				<a href="#" ng-click="sortType = 'Goal'; sortReverse = !sortReverse">
					Amount to raise
				<span ng-show="sortType == 'Goal' && !sortReverse" class="fa fa-caret-down"></span>
				<span ng-show="sortType == 'Goal' && sortReverse" class="fa fa-caret-up"></span>
				</a>
			</td>
			<td class="col-md-4">
				<a href="#" ng-click="sortType = 'Desc'; sortReverse = !sortReverse">
						Description
					<span ng-show="sortType == 'Desc' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'Desc' && sortReverse" class="fa fa-caret-up"></span>
					</a>
			</td>
			<td>
				<a href="#" ng-click="sortType = 'Duration'; sortReverse = !sortReverse">
					Duration
					<span ng-show="sortType == 'Duration' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'Duration' && sortReverse" class="fa fa-caret-up"></span>
				</a>
			</td>
			<td>
				<a href="#">Actions</a>
			</td>
		</tr>
		<hr />
	</thead>
	<tbody>
		<tr ng-repeat="project in user.projects  | orderBy:sortType:sortReverse | filter:searchType" class="ng-scope">
			<td data-title="'Name'" filter="{ 'name': 'text' }" data-title-text="Name" class="ng-binding">{{project.name}}</td>
			<td data-title="'Amount'" style="overflow: hidden" data-title-text="Alias" class="ng-binding">{{project.balance}}</td>
			<td data-title="'Goal'" style="overflow: hidden" data-title-text="Alias" class="ng-binding">{{project.campaign.amount_to_raise}}</td>
			<td data-title="'Desc'" data-title-text="Alias" class="ng-binding">{{project.description}}</td>
			<td data-title="'Duration'" style="overflow: hidden" data-title-text="Alias" class="ng-binding">{{project.campaign.duration}} Hour(s)</td>
			<td data-title="'Gender'" data-title-text="Gender" class="ng-binding">
				<button width="50%" type="button" class="btn btn-primary btn-sm ladda-button">
		        <span class="glyphicon glyphicon-arrow-right ladda-label" ui-sref="app.project({name: project.name, _id: project._id})"> Access </span>
		    </button>
			</td>
		</tr>
