
test_local_env:
  image: societhy/localenv
  dns:
    - 8.8.8.8
  command: /usr/bin/supervisord -n -c /societhy/utils/supervisor.conf -l /supervisord.log
  working_dir: /societhy
  ports:
    - "8800"  # unused
    - "27017:27017" # geth json-rpc api
    - "4242:4242" # web port
    - "8545" # geth json-rpc api
    - "30303:30303"  # geth p2p protocol

  volumes:
    - ../app:/societhy/app:rw
    - ${HOME}/.ssh:/root/.ssh/:ro
  extra_hosts:
    - "custom:172.17.0.2"

    
test_remote_env:
  image: societhy/tests
  dns:
    - 8.8.8.8
  command: /usr/bin/supervisord -n -c /societhy/utils/supervisor.conf -l /supervisord.log
  working_dir: /societhy
  ports:
    - "8800"  # unused
    - "27017:27017" # geth json-rpc api
    - "4242:4242" # web port
    - "8545" # geth json-rpc api
    - "30303:30303"  # geth p2p protocol

  volumes:
    - ../app:/societhy/app:rw
  extra_hosts:
    - "custom:172.17.0.2"
    