<!--start: HORIZONTAL MENU -->
<div class="horizontal-menu-wrapper">
	<div class="horizontal-nav-container" ct-fullheight="window" data-ct-fullheight-exclusion="header" data-ct-fullheight-if="isSmallDevice">
		<ul class="nav navbar-nav no-border">

			<!-- 		BOUTTON DASHBOARD  -->
			<li ui-sref-active="active">
				<a ui-sref="app.dashboard"> <letter-icon data="{{ 'sidebar.nav.dashboard.MAIN' | translate }}" color="auto" char-count="2" size="sm"></letter-icon> <span translate="sidebar.nav.dashboard.MAIN"></span> </a>
			</li>

			<!-- 			MY ORGANISATIONS -->
			<li uib-dropdown uib-dropdown auto-close="outsideClick">
				<a href="javascript:void(0)" uib-dropdown-toggle> <letter-icon data=" {{ 'sidebar.nav.organisations.MAIN' | translate }}" color="auto" char-count="2" size="sm"></letter-icon> <span translate="sidebar.nav.organisations.MAIN" ></span> <span class="caret"></span></a>
				<ul uib-dropdown-menu>
					<li ui-sref-active="active">
						<a ui-sref="app.neworga"> <span translate="sidebar.nav.organisations.CREATE"/> </a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="app.discoverorga"> <span translate="sidebar.nav.organisations.DISCOVER"/> </a>
					</li>
					<li class="dropdown-header text-uppercase text-light text-bold text-extra-small padding-top-25 padding-bottom-10" translate="sidebar.nav.organisations.MYORGANISATIONS">
					</li>
					<li ui-sref-active="active" ng-repeat="orga in user.organizations">
						<a ui-sref="app.organization({name: orga.name, _id: orga._id})"> {{ orga.name }} </a>
					</li>
				</ul>
			</li>

			<!-- 			MY PROJECTS -->

			<li ng-class="{'active':$state.includes('app.utilities') || $state.includes('app.charts') || $state.includes('app.maps')}" uib-dropdown auto-close="outsideClick">
				<a href="javascript:void(0)" uib-dropdown-toggle> <letter-icon data="Projects" color="auto" char-count="2" size="sm"></letter-icon> <span translate="sidebar.nav.projects.MAIN" ></span> <span class="caret"></span></a>
				<ul uib-dropdown-menu>
					<li ui-sref-active="active">
						<a ui-sref="app.discoverprojects"> <span translate="sidebar.nav.organisations.DISCOVER"/> </a>
					</li>
					<li class="dropdown-header text-uppercase text-light text-bold text-extra-small padding-top-25 padding-bottom-10" translate="sidebar.nav.projects.MYPROJECTS">
					</li>
					<li ui-sref-active="active" ng-repeat="project in user.projects">
						<a ui-sref="app.project({project_name: project.name, project_id: project.id})"> {{ project.name }} </a>
					</li>
				</ul>
			</li>

		</ul>

		<ul class="nav navbar-nav navbar-right" ng-controller="NotificationController as ctrl">
			<li class="dropdown" uib-dropdown on-toggle="toggled(open)" ng-show="user">
				<a href class="dropdown-toggle" uib-dropdown-toggle><span class="badge"> {{unread_notification.length || 0}} </span><i class="fa fa-bell"></i></a>
				<ul class="dropdown-menu dropdown-light dropdown-messages dropdown-large animated fadeInUpShort">
					<li>
						<div ng-if="unread_notification.length">
							<span class="dropdown-header text-large" style="text-align: center" > You have new notifications </span>
						</div>
						<div ng-if="!unread_notification.length">
							<span class="dropdown-header text-large" style="text-align: center"> You have no new notification</span>
						</div>
					</li>
					<li>
						<div class="drop-down-wrapper ps-container">
							<div class="list-group no-margin">
								<div ng-repeat="value in unread_notification">
									<a ng-click="ctrl.click_notif(value)" class="media list-group-item" href="">
										<span class="media-body block no-margin"> {{value.description}}
										<small class="block text-grey">{{value.createdAt["$date"] | date:'medium'}}</small>
										</span>
									</a>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div ng-if="unread_notification.length">
							<span class="dropdown-header text-large" style="text-align: center" ng-click="ctrl.mark_all_as_read()" > <a> Mark all as read </a> </span>
						</div>
					</li>
				</ul>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right" ng-controller="LoginController as ctrl">
			<li  uib-dropdown ng-show="!user" auto-close="outsideClick">
				<a href="#" class="nav-user-wrapper padding-15" uib-dropdown-toggle>
					<span>Sign in</span> <span class="caret"></span>
				</a>
				<div class="pull-right animated fadeInRight"  uib-dropdown-menu>
					<div class="panel-body" style="width:400px">
						<div class="social-icons block">
							<ul>
								<li data-placement="top" data-original-title="Twitter" class="social-twitter tooltips">
									<a href="#" ng-click="ctrl.twitter_connect()" target="_blank">
										Twitter
									</a>
								</li>
								<li data-placement="top" data-original-title="Facebook" class="social-facebook tooltips">
									<a href="#" ng-click="ctrl.fb_connect()" target="_blank">
										Facebook
									</a>
								</li>
								<li data-placement="top" data-original-title="Google" class="social-google tooltips">
									<a href="#" ng-click="ctrl.google_connect()" target="_blank">
										Google+
									</a>
								</li>
								<li data-placement="top" data-original-title="LinkedIn" class="social-linkedin tooltips">
									<a href="#" ng-click="ctrl.linkedin_connect()" target="_blank">
										LinkedIn
									</a>
								</li>
								<li data-placement="top" data-original-title="Github" class="social-github tooltips">
									<a href="#" ng-click="ctrl.github_connect()" target="_blank">
										Github
									</a>
								</li>
								<li data-placement="top" data-original-title="Coinbase" class="ti-wallet tooltips">
									<a href="#" ng-click="ctrl.coinbase_connect()" target="_blank">
										Coinbase
									</a>
								</li>

							</ul>
						</div>
						<form role="form" class="form-horizontal ng-pristine ng-valid">
							<div class="form-group">
								<div class="col-sm-10">
									<input ng-model="ctrl.username" type="text" placeholder="Email" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-10">
									<input ng-model="ctrl.password" type="password" placeholder="Password" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2">
									<div class="checkbox clip-check check-primary">
										<input type="checkbox" id="checkbox2" value="1">
										<label for="checkbox2">
											Remember me
										</label>
									</div>
								</div>
								<div class="col-sm-offset-3 col-sm-7">
									<button class="btn btn-o btn-primary btn-lg" type="submit" ng-click="ctrl.login()">
										Sign in
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</li>
			<li class="dropdown" uib-dropdown auto-close="disabled" ng-show="!user">
				<a href="#" class="nav-user-wrapper padding-15" ui-sref="app.registration">
					<span>Register</span>
				</a>
			</li>


			<li class="dropdown" uib-dropdown ng-show="user">
				<a href="#" class="dropdown-toggle nav-user-wrapper" data-toggle="dropdown" uib-dropdown-toggle>
					<img alt="" src="static/assets/images/default-user.png">
					<span id="username" > {{ ctrl.user.name || ctrl.user.firstname.concat(" ").concat(ctrl.user.lastname || "")}}</span>
					<span> {{ctrl.user.totalBalance.toFixed(1)}} ETH</span>
					<span class="caret"></span>
				</a>

				<ul class="dropdown-menu pull-right animated fadeInRight">
					<li>
						<a ui-sref="app.me" translate="topbar.user.PROFILE"> My Profile </a>
					</li>
					<!-- 			<li>
                                    <a ui-sref="" translate="topbar.user.CALENDAR"> My Calendar </a>
                                </li>
                                <li>
                                    <a ui-sref="" translate="topbar.user.MESSAGES"> My Messages (3) </a>
                                </li>
                                <li>
                                    <a ui-sref="" translate="topbar.user.LOCKSCREEN"> Lock Screen </a>
                                </li>
                            -->			<li class="divider"></li>
					<li>
						<a ng-click="ctrl.logout()" translate="topbar.user.LOGOUT"> Log Out </a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
	<div class="close-handle visible-xs-block visible-sm-block menu-toggler" ng-click="menuInit(true)" ng-swipe-up="menuInit(true)">
		<div class="arrow-left"></div>
		<div class="arrow-right"></div>
	</div>
	<!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
</div>
<!-- end: HORIZONTAL MENU
