
<!-- start: ORGA DASHBOARD PROFILE -->
<div class="container-fluid container-fullw bg-white">
  <div class="row">
    <div class="col-md-12">
      <div>
        <!-- start: USER TABSET -->
        <uib-tabset class="tabbable">
          <!-- start: TAB OVERVIEW -->
          <uib-tab heading="Overview" href="">
            <div ng-controller="OrgaMainController as ctrl">
              <div class="vertical-center">
                <h1 class="padding-right-20">{{ currentOrga.address }}</h1>
                <div class="input-group-sm bootstrap-touchspin align-left">
                  <input ng-init="ctrl.plop()" ng-if="currentRights.donate" id="donationAmount" type="number" value="0" touchspin data-forcestepdivisibility="none" data-decimals="2" data-min="0" data-max="1000" data-stepinterval="50" step="0.1" data-postfix="donate!" data-postfix_extraclass="btn btn-default donate-button" class="form-control input-sm">
                </div>
              </div>
              <div class="row  vertical-center">

                <div class="col-md-6 inline-block ">
                  <div class="user-left user-image">
                    <img ng-src="{{currentOrga.picture || 'static/assets/images/orga_default.jpg'}}" alt="..." class="img-rounded">
                  </div>

                  <div class="btn-group" ng-if="currentRights.join" uib-dropdown>
                    <button type="button" class="btn btn-success btn-primary btn-wide" ng-click="ctrl.joinOrga('member')">
                      Join
                    </button>
                    <button type="button" class="btn btn-success btn-primary dropdown-toggle" uib-dropdown-toggle>as a
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a ng-click="ctrl.joinOrga('member')"> member </a></li>
                      <li><a ng-click="ctrl.joinOrga('partner')"> partner </a></li>
                      <li><a ng-click="ctrl.joinOrga('owner')"> admin </a></li>
                    </ul>
                  </div>
                  <button ng-if="isMember" ng-disable="true" class="btn btn-wide btn-info active">Member</button>
                  <button ng-if="currentRights.leave" type="button" class="btn btn-wide btn-danger" ng-click="ctrl.leaveOrga()()">Leave</button>
                </div>

                <div class="col-md-6 inline-block  vertical-center">              
                  <div class="float-left" style="line-height: 40px">
                    Balance: 
                    <span ng-bind="currentOrga.balance"></span>
                  </div>
                  <div class="social-icons float-right">
                    <ul>
                      <li data-placement="top" data-original-title="Twitter" class="social-twitter tooltips">
                        <a href="#" ng-click="" target="_blank">
                          Twitter
                        </a>
                      </li>
                      <li data-placement="top" data-original-title="Facebook" class="social-facebook tooltips">
                        <a href="#" ng-click="" target="_blank">
                          Facebook
                        </a>
                      </li>
                      <li data-placement="top" data-original-title="Google" class="social-google tooltips">
                        <a href="#" ng-click="" target="_blank">
                          Google+
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row margin-top-20" >
                <div class="col-md-6  border-dark padding-20">
                  <h2>Projects<button ng-if="currentRights.create_project" type="button" class="btn btn-sm btn-success padding-10 margin-left-20 text-extra-large" ng-click="ctrl.createProject()">+</button></h2>

                  <table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped" id="project">
                    <!-- ngInclude: templates.header -->
                    <thead  class="ng-scope">
                      <tr>
                        <td>
                          <a href="#" ng-click="sortType = 'address'; sortReverse = !sortReverse">
                            Project address
                            <span ng-show="sortType == 'address' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'address' && sortReverse" class="fa fa-caret-up"></span>
                          </a>
                        </td>
                        <td>
                          <a href="#" ng-click="sortType = 'rank'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'rank' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'rank' && sortReverse" class="fa fa-caret-up"></span>
                            Name
                          </a>
                        </td>
                      </tr>
                      <hr />
                    </thead>
                    <tbody><!-- ngRepeat: user in $data -->
                      <tr ng-repeat="(address, project) in currentOrga.projects" class="ng-scope">
                        <td data-title="'address'" filter="{ 'address': 'text' }" data-title-text="address" class="ng-binding"> {{address}} </td>
                        <td data-title="'Project'" data-title-text="Project" class="ng-binding" filter="{ 'Project': 'text' }">{{project.name}}</td>
                      </tr><!-- end ngRepeat: user in $data -->
                    </tbody>
                  </table>

                </div>
                <div class="col-md-6 inline-block  border-dark padding-20">
                  <h2>News</h2>

                </div>
              </div>

              <div class="row margin-top-20" >
                <div class="col-md-6  border-dark padding-20">              
                  <h2>Proposals<button ng-if="currentRights.create_proposal" type="button" class="btn btn-sm btn-success padding-10 margin-left-20 text-extra-large" ng-click="ctrl.createProposal()">+</button></h2>      
                </div>
                <div class="col-md-6 inline-block  border-dark" style="padding: 20px">
                  <h2>Members</h2>
                  <table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped" id="project">
                    <!-- ngInclude: templates.header -->
                    <thead  class="ng-scope">
                      <tr>
                        <td>
                          <a href="#" ng-click="sortType = 'address'; sortReverse = !sortReverse">
                            Member
                            <span ng-show="sortType == 'address' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'address' && sortReverse" class="fa fa-caret-up"></span>
                          </a>
                        </td>
                        <td>
                          <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                            Rank
                          </a>
                        </td>
                        <td>
                          <a href="#" ng-click="sortType = 'tag'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'tag' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'tag' && sortReverse" class="fa fa-caret-up"></span>
                            Tag
                          </a>
                        </td>
                      </tr>
                      <hr />
                    </thead>
                    <tbody><!-- ngRepeat: user in $data -->
                      <tr ng-repeat="(address, member) in currentOrga.members" class="ng-scope">
                        <td data-title="'address'" filter="{ 'address': 'text' }" data-title-text="address" class="ng-binding"> {{address}} </td>
                        <td data-title="'name'" data-title-text="name" class="ng-binding" filter="{ 'name': 'text' }">{{member.name}}</td>
                        <td data-title="'tag'" data-title-text="tag" class="ng-binding" filter="{ 'tag': 'text' }">{{member.tag}}</td>
                      </tr><!-- end ngRepeat: user in $data -->
                    </tbody>
                  </table>

                </div>
              </div>

            </div>
          </uib-tab>

          <uib-tab heading="Activity" active="editActive">
           <div data-ng-include=""></div>
           <div data-ng-include=""></div>
         </uib-tab>
<!-- 
         <uib-tab heading="Members">
           <div class="container-fluid container-fullw ng-scope">
             <div class="panel panel-white">
              <div class="panel-body">
                <div ng-controller="" class="ng-scope ng-binding">
                 <div data-ng-include="">
                 </div>
               </div>
             </div>
           </div>
         </div>
       </uib-tab>

       <uib-tab heading="Sales">
         <div class="container-fluid container-fullw ng-scope">
           <div class="panel panel-white">
            <div class="panel-body">
              <div ng-controller="" class="ng-scope ng-binding">
               <div data-ng-include="">
               </div>
             </div>
           </div>
         </div>
       </div>
     </uib-tab>

     <uib-tab heading="Settings">
       <div class="container-fluid container-fullw ng-scope">
         <div class="panel panel-white">
          <div class="panel-body">
            <div ng-controller="" class="ng-scope ng-binding">
             <div data-ng-include=""></div>
           </div>
         </div>
       </div>
     </div>
   </uib-tab>
 -->
 <!-- end: TAB ORGANISATIONS -->
</uib-tabset>
<!-- end: USER TABSET -->
</div>
</div>
</div>
</div>
<!-- end: USER PROFILE -->
