<div class="container-fluid container-fullw bg-white" ng-controller="ProjectMainController as ctrl">
  <fieldset>
    <div class="row margin-10">
      <div class="col-md-5">
        <h1>{{project.name}}</h1>
      </div>
      <div class="col-md-1">
        <!-- Check si user dans les membres -->
        <button type="button" ng-if="currentRights.join" ng-click="ctrl.joinProject()" class="btn btn-sm btn-success text-extra-large">Join</button>
        <button type="button" ng-if="!currentRights.join" ng-click="ctrl.leaveProject()" class="btn btn-sm btn-danger text-extra-large">Leave</button>
      </div>
      <div class="col-md-2">
        <div class="social-icons">
          <ul>
            <li ng-if="project.twitter_link" data-placement="top" data-original-title="Twitter" class="social-twitter tooltips">
              <a ng-href="{{project.twitter_link}}" target="_blank">
                Twitter
              </a>
            </li>
            <li ng-if="project.twitter_link" data-placement="top" data-original-title="Facebook" class="social-facebook tooltips">
              <a ng-href="{{project.facebook_link}}" target="_blank">
                Facebook
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div ng-if="currentRights.donate" class="col-md-4">
        <div class="input-group-sm bootstrap-touchspin align-left col-md-offset-6">
          <input id="donationAmount" type="number" value="0" touchspin data-forcestepdivisibility="none" data-decimals="2" data-min="0" data-max="1000" data-stepinterval="50" step="0.1" data-postfix="send!" data-postfix_extraclass="btn btn-default donate-button" class="form-control input-sm">
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="row margin-10">
      <div class="col-md-5">
        <div>
          <h3>Description</h3>
          <p class="margin-top-10">{{project.description}}</p>
        </div>

        <div class="">
          <h3>
            Campaign
            <a href="#">
              <i class="fa fa-refresh" ng-click="ctrl.refreshProject()"></i>
            </a>
          </h3>
          <!-- <span class="col-md-4 icon fa-2x"> -->
        </div>
        <span ng-if="project.balance < project.campaign.amount_to_raise">
          <span class="label label-warning block">Crowdfunding campaign in progress</span>
          <p class="text-center text-bold text-large">{{project.balance}} on {{project.campaign.amount_to_raise}} eth required</p>
        </span>
        <span ng-if="project.balance >= project.campaign.amount_to_raise">
          <span class="label label-success block">Crowdfunding campaign is complete !</span>
          <p class="text-bold text-center text-large">{{project.balance}} ethers were raised ! ( goal was : {{project.campaign.amount_to_raise}} ethers)</p>
        </span>
        <!-- LIGNE D'AVANCEMENT DES FOND -->
         <!-- <uib-progress max="project.balance"><uib-bar ng-repeat="bar in project.levels track by $index" value="project.balance - bar.value" max="bar.value" type="warning"><span ng-hide="bar.value < 5">{{bar.value}}%</span></uib-bar></uib-progress> -->
        <uib-progressbar value="project.balance * (100 / project.campaign.amount_to_raise)" class="progress no-radius background-dark no-margin" type="{{project.balance * (100 / project.campaign.amount_to_raise) >= 50 ? 'success' : 'warning'}}" ></uib-progressbar>
        <div class="panel panel-white" ng-if="project.time_left_percent > 0">
          <div class="panel-body">
          <h3>Time remaining</h3>
          <uib-progressbar value="project.time_left_percent" class="progress no-radius background-dark no-margin" type="{{project.time_left_percent >= 50 ? 'success' : 'warning'}}" ></uib-progressbar>
          <!-- TIMELINE ICI -->
          </div>
        </div>
        <div class="panel panel-white" ng-if="project.time_left_percent <= 0">
          <div class="panel-body">

          <h3 class="text-red">CAMPAIGN IS OVER</h3>
        </div>
        </div>
      </div>
      <div class="col-md-7">
        <h3>Steps</h3>
        <div ng-repeat="level in project.levels">
          <div class="panel panel-white">
            <div class="panel-heading">
              {{level.name}}
            </div>
            <div class="panel-body">
              <uib-progressbar value="((project.balance - level.prevTot < 0) ? 0 : project.balance - level.prevTot) * (100 / (level.value - level.prevTot))" class="progress no-radius background-dark no-margin" type="{{((project.balance - level.prevTot < 0) ? 0 : project.balance - level.prevTot) * (100 / (level.value - level.prevTot)) >= 100 ? 'success' : 'warning'}}" >
              </uib-progressbar>
              <p class="margin-10">{{level.desc}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row margin-10">
      <div class="col-md-5">
      </div>
      <div class="col-md-7">
      </div>
    </div>
    <button width="50%" type="button" class="btn btn-success btn-xl float-right" ng-click="ctrl.exportActivityModal()">
      <span translate="project.export.BUTTON"></span>
    </button>
  </fieldset>
  <div style="display: none;">
    <table id="projectExportData">
      <thead>
        <tr>
    <td translate="project.export.header.DATE"></td>
    <td translate="project.export.header.ADDR"></td>
    <td translate="project.export.header.BALANCE"></td>
    <td translate="project.export.header.GOAL"></td>
    <td translate="project.export.header.DESCRIPTION"></td>
    <td translate="project.export.header.OWNERNAME"></td>
    <td translate="project.export.header.OWNERADDR"></td>
    <td translate="project.export.header.MEMBERS"></td>
        </tr>
      </thead>
      <tbody>
        <tr>
    <td>{{project.creation_date}}</td>
    <td>{{project.address}}</td>
    <td>{{project.balance}} Eth</td>
    <td>{{project.campaign.amount_to_raise}} Eth</td>
    <td>{{project.description}}</td>
    <td>{{project.owner.name}}</td>
    <td>{{project.owner.address}}</td>
    <td ng-repeat="member in project.members"><span>{{member.name}}, </span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
