<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin" translate="sidebar.nav.pages.USERPROFILE">USER PROFILE</h4>

    <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: USER PROFILE -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <div>
                <!-- start: USER TABSET -->
                <uib-tabset class="tabbable">
                    <!-- start: TAB OVERVIEW -->
                    <uib-tab heading="Overview">
                        <div ng-controller="userOverviewCtrl as ctrl">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="user-left">
                                        <div class="center">
                                            <h4>{{user.firstname}} {{user.lastname}}</h4>
                                            <div flow-init="{singleFile:true}" flow-name="obj.flow" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
                                                <div class="user-image">
                                                    <div class="thumbnail">
                                                        <img ng-src="static/assets/images/default-user.png" alt="" ng-if="!obj.flow.files.length && !noImage">
                                                        <img flow-img="obj.flow.files[0]" ng-if="obj.flow.files.length">
                                                    </div>
                                                    <div class="user-image-buttons" ng-if="obj.flow.files.length">
                                                        <span class="btn btn-primary btn-file">
                                                         <i class="fa fa-pencil"></i>
                                                         <input type="file" flow-btn />
                                                     </span>
                                                        <span class="btn btn-danger" ng-click="obj.flow.cancel()"> <i class="fa fa-times"></i> </span>
                                                    </div>
                                                    <div class="user-image-buttons" ng-if="!obj.flow.files.length">
                                                    <span class="btn btn-primary btn-file">
                                                     <i class="fa fa-pencil"></i>
                                                     <input type="file" flow-btn />
                                                 </span>
                                                        <span class="btn btn-danger" ng-if="!noImage" ng-click="removeImage()"><i class="fa fa-times"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div id="newPhoto"></div>
                                            <div class="social-icons block">
                                                <ul>
                                                    <li data-placement="top" data-original-title="Twitter" class="social-twitter tooltips">
                                                        <a href="#" ng-click="ctrl.twitter_connect()" target="_blank">
                                                            Twitter
                                                        </a>
                                                    </li>
                                                    <li data-placement="top" data-original-title="Facebook" class="social-facebook tooltips">
                                                        <a href="#" ng-click="ctrl.fb_connect()" target="_blank">
                                                            Facebook
                                                        </a>
                                                    </li>
                                                    <li data-placement="top" data-original-title="Google" class="social-google tooltips">
                                                        <a href="#" ng-click="ctrl.google_connect()" target="_blank">
                                                            Google+
                                                        </a>
                                                    </li>
                                                    <li data-placement="top" data-original-title="LinkedIn" class="social-linkedin tooltips">
                                                        <a href="#" ng-click="ctrl.linkedin_connect()" target="_blank">
                                                            LinkedIn
                                                        </a>
                                                    </li>
                                                    <li data-placement="top" data-original-title="Github" class="social-github tooltips">
                                                        <a href="#" ng-click="ctrl.github_connect()" target="_blank">
                                                            Github
                                                        </a>
                                                    </li>
                                                    <li data-placement="top" data-original-title="Coinbase" class="ti-wallet tooltips">
                                                        <a href="#" ng-click="ctrl.coinbase_connect()" target="_blank">
                                                            Coinbase
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                            <hr>
                                        </div>
                                        <div class="center">
                                            <button type="button" class="btn btn-danger btn-lg" ng-click="ctrl.deleteAccount()"> Delete account </button>
                                        </div>
                                        <!--start: User Info -->
                                        <div class="row">
                                            <div class="col-md-12" id="userInfo">
                                                <!--start: Input Fields-->
                                                <div class="ng-scop">
                                                    <label class="control-label">Firstname :</label>
                                                    <a href="#" editable-text="user.firstname" class="userDataEditable">{{user.firstname}}</a>
                                                </div>
                                                <div class="ng-scop">
                                                    <label class="control-label">Lastname :</label>
                                                    <a href="#" editable-text="user.lastname" class="userDataEditable">{{user.lastname}}</a>
                                                </div>
                                                <div class="ng-scop">
                                                    <label class="control-label">Email :</label>
                                                    <a href="#" editable-text="user.email" class="userDataEditable" value="{{user.email}}">{{user.email}}</a>
                                                </div>
                                                <div class="ng-scop">
                                                    <label class="control-label">Address :</label>
                                                    <a href="#" editable-text="user.address" class="userDataEditable" value="{{user.address}}">{{user.address}}</a>
                                                </div>
                                                <div class="ng-scop">
                                                    <label class="control-label">City :</label>
                                                    <a href="#" editable-text="user.city" class="userDataEditable" value="{{user.city}}">{{user.city}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </uib-tab>
                    <!-- end: TAB OVERVIEW -->

                    <!-- start: TAB EDIT ACCOUNT -->
                    <uib-tab heading="Edit Account" active="editActive">
                        <div ng-controller="KeyController as ctrl">
                            <div data-ng-include=" 'static/assets/views/partials/user/coinbase_widget.html' "></div>
                            <div data-ng-include=" 'static/assets/views/partials/user/key_management_tab.html' "></div>
                            </div>
                        </uib-tab>
                    <!-- end: TAB EDIT ACCOUNT -->

                    <!-- start: TAB TRANSACTION-->
                    <uib-tab heading="Transactions" active="editActive">
                        <div class="container-fluid container-fullw ng-scope">
                            <div class="panel panel-white">
                                <div class="panel-body">
                                    <div ng-controller="userTransactionTableCtrl" class="ng-scope ng-binding">
                                        <div data-ng-include=" 'static/assets/views/partials/user/user_transaction.html' "></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <!-- end: TAB TRANSACTION -->

                    <!-- start: TAB PREFERENCE -->
                    <uib-tab heading="Preference" active="editActive">
                        <div ng-controller="userPreferenceCtrl as ctrl">
                            <div data-ng-include=" 'static/assets/views/partials/user/user_preference.html' "></div>
                        </div>
                    </uib-tab>
                    <!-- end: TAB PREFERENCE-->

                    <!-- start: TAB PROJECTS -->
                    <uib-tab heading="Projects">
                        <div class="container-fluid container-fullw ng-scope">
                            <div class="panel panel-white">
                                <div class="panel-body">
                                        <div data-ng-include=" 'static/assets/views/partials/user/user_project.html' "></div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <!-- end: TAB PROJECTS -->
                    <!-- start: TAB ORGANISATIONS -->
                    <uib-tab heading="Organisations">
                        <div class="container-fluid container-fullw ng-scope">
                            <div class="panel panel-white">
                                <div class="panel-body">
                                    <div class="ng-scope ng-binding">
                                        <div data-ng-include=" 'static/assets/views/partials/user/user_organisation.html' "></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <!-- end: TAB ORGANISATIONS -->
                </uib-tabset>
                <!-- end: USER TABSET -->
            </div>
        </div>
    </div>
</div>
<!-- end: USER PROFILE -->
