<!-- start: BREADCRUMB -->
<!-- <div class="breadcrumb-wrapper"> -->
<!-- <h4 class="mainTitle no-margin" translate="sidebar.nav.forms.WIZARD">ORGANISATION WIZARD</h4> -->
<!--  -->
<!-- <div ncy-breadcrumb class="pull-right"></div> -->
<!-- </div> -->
<!-- end: BREADCRUMB -->
<!-- start: WIZARD DEMO -->

<div class="container-fluid container-fullw">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">
				<div class="panel-body">
					<h5 class="over-title margin-bottom-15">Create an <span class="text-bold">organisation</span></h5>
					<div ng-controller="OrgaWizardCtrl">
						<!-- start: WIZARD FORM -->
						<form name="Form" id="form" novalidate>
							<div id="wizard" class="swMain">
								<!-- start: WIZARD STEPS -->
								<ul>
									<li ng-click="form.goTo(Form, 1)">
										<a href ng-class="{'selected' : currentStep >= 1, 'done' : currentStep > 1}">
											<div class="stepNumber">
												1
											</div> <span class="stepDesc text-small"> Basic information </span>
										</a>
									</li>
									<li ng-click="form.goTo(Form, 2)">
										<a href ng-class="{'selected' : currentStep >= 2, 'done' : currentStep > 2}">
											<div class="stepNumber">
												2
											</div> <span class="stepDesc text-small">Governance</span>
										</a>
									</li>

									<li ng-click="form.goTo(Form, 3)">
										<a href ng-class="{'selected' : currentStep >= 3, 'done' : currentStep > 3}">
											<div class="stepNumber">
												3
											</div> <span class="stepDesc text-small">Members</span>
										</a>
									</li>
									<li ng-click="form.goTo(Form, 4)">
										<a href ng-class="{'selected' : currentStep >= 4, 'done' : currentStep > 4}">
											<div class="stepNumber">
												4
											</div> <span class="stepDesc text-small">Tokens</span>
										</a>
									</li>
									<li ng-click="form.goTo(Form, 5)">
										<a href ng-class="{'selected' : currentStep >= 5, 'done' : currentStep > 5}">
											<div class="stepNumber">
												5
											</div> <span class="stepDesc text-small">Funding</span>
										</a>
									</li>
									<li ng-click="form.goTo(Form, 6)">
										<a href ng-class="{'selected' : currentStep >= 6, 'done' : currentStep > 6}">
											<div class="stepNumber">
												6
											</div> <span class="stepDesc text-small"> Document Upload </span>
										</a>
									</li>
									<li ng-click="form.goTo(Form, 7)">
										<a href ng-class="{'selected' : currentStep >= 7, 'done' : currentStep > 7}">
											<div class="stepNumber">
												7
											</div> <span class="stepDesc text-small"> Complete </span>
										</a>
									</li>
								</ul>
								<!-- end: WIZARD SEPS -->
								<!-- start: WIZARD STEP 1 -->
								<div id="step-1" ng-show="currentStep == 1">
									<div class="row">
										<div class="col-md-5">
											<div class="padding-30">
												<h2 class="StepTitle"><i class="ti-face-smile fa-2x text-primary block margin-bottom-10"></i> Enter your basic information</h2 >
												</div>
												<fieldset>
													<legend>
														Openness & Privacy
													</legend>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="block"> Do you want your organization to be :</label>
																<div class="clip-radio radio-primary radio-lg">
																	<input type="radio" id="public_type" value="public" ng-model="orga_form.accessibility" ng-init="orga_form.accessibility = 'public'">
																	<label for="public_type"> Public </label>
																</div>		
																<div class="clip-radio radio-primary radio-lg">
																	<input type="radio" id="private_type" value="private" ng-model="orga_form.accessibility">
																	<label for="private_type"> Private </label>
																</div>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="block"> You can also chose to make it :</label>
																<div class="checkbox vertical-center clip-check check-primary check-lg">
																	<input type="checkbox" id="anonymous_type" ng-model="orga_form.anonymous">
																	<label for="anonymous_type"> Anonymous </label>
																</div>
																<div class="checkbox vertical-center clip-check check-primary check-lg">
																	<input type="checkbox" id="hidden_type" ng-model="orga_form.hidden">
																	<label for="hidden_type"> Hidden </label>
																</div>
															</div>
														</div>
													</div>
												</fieldset>
											</div>
											<div class="col-md-7">
												<fieldset>
													<legend>
														Basics
													</legend>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group" ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid, 'has-success':Form.name.$valid}">
																<label class="control-label">Organisation Name <span class="symbol required"></span> </label>
																<input type="text" placeholder="Enter your organisation Name" class="form-control" name="name" ng-model="orga_form.name" ng-required="currentStep == 1" />
																<span class="error text-small block" ng-if="Form.name.$dirty && Form.name.$invalid">Name is mandatory</span>
																<span class="success text-small block" ng-if="Form.name.$valid">Cool !</span>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group" ng-class="{'has-error':Form.description.$dirty && Form.description.$invalid, 'has-success':Form.description.$valid}">
																<label class="control-label"> Description <span class="symbol required"></span> </label>
																<textarea  placeholder="Enter the description" class="form-control autosize area-animated msd-elastic: \n;" name="description" ng-model="orga_form.description" ng-required="currentStep == 1"></textarea>
																<span class="error text-small block" ng-if="Form.description.$dirty && Form.description.$invalid">Description is mandatory</span>
																<span class="success text-small" ng-if="Form.description.$valid">Wonderful!</span>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<h5>Your Networks (optional)</h5>
															<div class="row">
																<div class="col-md-1">
																	<span class="fa fa-facebook"></span>
																</div>
																<div class="col-md-11">
																	<input type="text" placeholder="Facebook URL" class="form-control" name="fbUrl" ng-model="orga_form.fbUrl" />
																</div>
															</div>

															<div class="row">
																<div class="col-md-1">
																	<span class="fa fa-twitter"></span>
																</div>
																<div class="col-md-11">
																	<input type="text" placeholder="Twitter URL" class="form-control" name="twitterUrl" ng-model="orga_form.twitterUrl"/>
																</div>
															</div>

														</div>
													</fieldset>

													<fieldset>
														<legend>
															Your logo
														</legend>
														<div class="row">
															<div class="col-md-6">
																<h5>Select file</h5>
																<div class="panel panel-white">
																	<div class="panel-body">
																		<div ng-show="uploaderImages.isHTML5">
																			<!-- 3. nv-file-over uploader="link" over-class="className" -->
																			<div class="well my-drop-zone" nv-file-over="" uploader="uploaderImages">
																				Drag you logo here
																			</div>
																		</div>
																		<!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
																		<span class="btn btn-primary btn-o btn-file">
																			Or click here
																			<input type="file" nv-file-select="" uploader="uploaderImages" multiple />
																		</span>
																		<br />
																	</div>
																</div>
															</div>
															<div class="col-md-6">
																<h5>Your logo</h5>
																<div class="panel panel-white">
																	<div class="col-md-4"></div>
																	<div class="col-md-3">
																		<div ng-repeat="item in uploaderImages.queue">
																			<div><strong>{{ item.file.name }}</strong><!-- Image preview --><!--auto height--><!--<div ng-thumb="{ file: item.file, width: 100 }"></div>--><!--auto width--><div ng-show="uploaderImages.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div><!--fixed width and height --><!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>--></div>
																			<div ng-show="uploaderImages.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</div>
																		</div>
																	</div>
																</div>
															</div>

														</div>

													</fieldset>

													<div class="form-group">
														<button class="btn btn-primary btn-o next-step btn-wide pull-right" ng-click="form.next(Form)">
															Next <i class="fa fa-arrow-circle-right"></i>
														</button>
													</div>
												</div>
											</div>
										</div>
										<!-- end: WIZARD STEP 1 -->

										<!-- start: WIZARD STEP 2 -->
										<div id="step-2" ng-show="currentStep == 2">
											<div class="row">
												<div class="col-md-6">
													<div class="padding-30">
														<h2 class="StepTitle">Governance models<span class="text-large block">How will you manage to take decisions ?</span></h2>
													</div>
													<fieldset>
														<legend>
															Choose a governance model
														</legend>
														<div cass="clip-radio radio-primary radio-lg">
															<div class="row text-extra-large inline">
																<div class="col-md-6 ">
																	<span><i class="fa fa-industry text-xxl padding-10"></i>Entreprise</span>
																	<input type="radio" id="entreprise_model" value="entreprise" ng-model="orga_form.gov_model">
																</div>
																<div class="col-md-6">
																	<span><i class="fa fa-bank text-xxl padding-10"></i>Public company</span>
																	<input type="radio" id="public_company_model" value="public_company" ng-model="orga_form.gov_model">
																</div>
															</div>
															<div class="row text-extra-large">
																<div class="col-md-6">
																	<span><i class="fa fa-users text-xxl padding-10"></i>Nonprofit organization</span>
																	<input type="radio" id="ngo_model" value="ngo" ng-model="orga_form.gov_model">
																</div>
																<div class="col-md-6">
																	<span><i class="fa fa-cubes text-xxl padding-10"></i>DAO</span>
																	<input type="radio" id="dao_model" value="dao" ng-model="orga_form.gov_model">
																</div>
															</div>
															
														</div>
													</fieldset>
												</div>
												<div class="col-md-6">
													<fieldset class="text-extra-large">
														<legend>Model description</legend>
														<div class="col-md-6">
															<span class="block"><i class="fa fa-check-circle padding-10"></i>{{governance_description[orga_form.gov_model]["pros"][0]}}</span>
															<span class="block"><i class="fa fa-check-circle padding-10"></i>{{governance_description[orga_form.gov_model]["pros"][1]}}</span>
															<span class="block"><i class="fa fa-check-circle padding-10"></i>{{governance_description[orga_form.gov_model]["pros"][2]}}</span>
														</div>
														<div class="col-md-6">
															<span class="block"><i class="fa fa-times-circle padding-10"></i>{{governance_description[orga_form.gov_model]["cons"][0]}}</span>
															<span class="block"><i class="fa fa-times-circle padding-10"></i>{{governance_description[orga_form.gov_model]["cons"][1]}}</span>
															<span class="block"><i class="fa fa-times-circle padding-10"></i>{{governance_description[orga_form.gov_model]["cons"][2]}}</span>
														</div>
														<div class="col-md-12">
															<br><br>
															<p>{{governance_description[orga_form.gov_model]["desc"] || "Please chose a governance model to see its characteristics"}}</p>
														</div>
													</fieldset>
												</div>
												<div class="col-md-6">
													<fieldset class="text-extra-large">
														<legend>
															Advanced Settings
														</legend>
														<div class="form-group">
															<label class="block"> You may add the following features to your structure:</label>
															<div class="checkbox vertical-center clip-check check-primary">
																<input type="checkbox" id="anonymous_type" ng-model="orga_form.anonymous">
																<label for="anonymous_type"> Delegated voting </label>

																<input type="checkbox" id="hidden_type" ng-model="orga_form.hidden">
																<label for="hidden_type"> Add curators </label>
															</div>
														</div>
														<div class="col-md-4 input-group-sm bootstrap-touchspin">
															<label for="quorum_value"> Quorum : </label>
															<input id="quorum_value" type="number" value="50" touchspin data-min="0" data-max="100" data-step="1" data-decimals="0"  data-postfix="%" ng-model="orga_form.quorum" ng-init="orga_form.quorum = 50">
														</div>
														<div class="col-md-4 input-group-sm bootstrap-touchspin">
															<label for="majority_value"> Majority : </label>
															<input id="majority_value" type="number" value="50" touchspin data-min="0" data-max="100" data-step="1" data-decimals="0"  data-postfix="%" ng-model="orga_form.majority" ng-init="orga_form.majority = 50">
														</div>
													</fieldset>

												</div>
											</div>
										</div>
										<!-- end: WIZARD STEP 2 -->

										<!-- start: WIZARD STEP 3 -->
										<div id="step-3" ng-show="currentStep == 3">
											<div class="row">
												<div class="col-md-3">
													<div class="padding-30">
														<h2 class="StepTitle">Members<span class="text-large block">Who's joining the ship ?</span></h2>
													</div>
												</div>
												<div class="col-md-9">
													<fieldset>
														<legend>
															Invite members
														</legend>

														<div class="col-md-6">
															<div class="row" ng-cloak>
																<md-content class="md-padding">
																	<form class="form-horizontal padding-bottom-20" role="form" ng-submit="addRow()">
																		<span class="input-icon">
																			<input type="text" placeholder="Search for existing users or invite new ones" class="form-control" id="search_input_members" ng-model="members_query">
																			<i class="ti-user"></i>
																			<md-autocomplete
																			ng-disabled="ctrl.isDisabled"
																			md-no-cache="ctrl.noCache"
																			md-selected-item="ctrl.selectedItem"
																			md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
																			md-search-text="ctrl.searchText"
																			md-selected-item-change="ctrl.selectedItemChange(item)"
																			md-items="item in ctrl.querySearch(ctrl.searchText)"
																			md-item-text="item.display"
																			md-min-length="0"
																			placeholder="What is your favorite US state?">
																			<md-item-template>
																				<span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
																			</md-item-template>
																			<md-not-found>
																				No states matching "{{ctrl.searchText}}" were found.
																				<a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
																			</md-not-found>
																		</md-autocomplete>
																	</span>
																</form>
																</md-content>
															</div>
														</div>
														<div class="col-md-6">
															<div class="table-responsive">
																<table class="table">
																	<thead>
																		<tr>
																			<th>Username</th>
																			<th>Role</th>
																			<th>Action </th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr ng-repeat="user in users">
																			<td>{{user.invited_username}} </td>
																			<td>{{user.invited_role}} </td>
																			<td>
																				<button type="button" class="btn btn-red btn-wide btn-scroll btn-scroll-top ti-trash" ng-click="removeRow(user.name)">
																					<span>Remove</span>
																				</button>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>


													</fieldset>
													<div class="form-group">
														<button class="btn btn-primary btn-o back-step btn-wide pull-left" ng-click="form.prev(Form)">
															<i class="fa fa-circle-arrow-left"></i> Back
														</button>
														<button class="btn btn-primary btn-o next-step btn-wide pull-right" ng-click="form.next(Form)">
															Next <i class="fa fa-arrow-circle-right"></i>
														</button>
													</div>
												</div>
											</div>
										</div>
										<!-- end: WIZARD STEP 3 -->

										<!-- start: WIZARD STEP 4 -->
										<div id="step-4" ng-show="currentStep == 4">
											<div class="row">
												<div class="col-md-5">
													<div class="padding-30">
														<h2 class="StepTitle">Tokens<span class="text-large block">How about creating your own asset ?</span></h2>
													</div>
												</div>
												<div class="col-md-7">
												</div>
											</div>
										</div>
										<!-- end: WIZARD STEP 4 -->

										<!-- start: WIZARD STEP 5 -->
										<div id="step-5" ng-show="currentStep == 5">
											<div class="row">
												<div class="col-md-5">
													<div class="padding-30">
														<h2 class="StepTitle">Let's talk about money<span class="text-large block">Do you want to send funds to this new organization ?</span></h2>
													</div>
												</div>
												<div class="col-md-7">
													<fieldset>
														<legend>
															Adding funds yo your organisation
														</legend>


													</fieldset>

													<fieldset>
														<legend>
															Sources of money you want to switch on
														</legend>

														<div class="checkbox clip-check check-primary checkbox-inline">
															<input type="checkbox" id="sellingGoods" value="0" checked="">
															<label for="sellingGoods">
																Sellings goods
															</label>
														</div>
														<div class="checkbox clip-check check-primary checkbox-inline">
															<input type="checkbox" id="privateFinancing" value="0" checked="">
															<label for="privateFinancing">
																Private financing
															</label>
														</div>
														<div class="checkbox clip-check check-primary checkbox-inline">
															<input type="checkbox" id="membershipFees" value="0" checked="">
															<label for="membershipFees">
																Membership fees
															</label>
														</div>
														<div class="checkbox clip-check check-primary checkbox-inline">
															<input type="checkbox" id="donations" value="0" checked="">
															<label for="donations">
																Donations
															</label>
														</div>
														<div class="checkbox clip-check check-primary checkbox-inline">
															<input type="checkbox" id="crowdfunding" value="0" checked="">
															<label for="crowdfunding">
																Crowdfunding
															</label>
														</div>


													</fieldset>

													<div class="form-group">
														<button class="btn btn-primary btn-o back-step btn-wide pull-left" ng-click="form.prev(Form)">
															<i class="fa fa-circle-arrow-left"></i> Back
														</button>
														<button class="btn btn-primary btn-o next-step btn-wide pull-right" ng-click="form.next(Form)">
															Next <i class="fa fa-arrow-circle-right"></i>
														</button>
													</div>
												</div>
											</div>
										</div>
										<!-- end: WIZARD STEP 5 -->
										<!-- start: WIZARD STEP 6 -->
										<div id="step-6" ng-show="currentStep == 6">
											<div class="row">
												<div class="col-md-5">
													<div class="padding-30">
														<h2 class="StepTitle">Do you wish to upload documents ?</h2>
														<p class="text-large">
															You can upload all kind of documents you would like to have on Societhy
														</p>
														<p class="text-small">
															.
														</p>
													</div>
												</div>
												<div class="col-md-7">
													<fieldset>
														<legend>
															Documents
														</legend>
														<div nv-file-drop="" uploader="uploaderDocs">
															<div class="row">
																<div class="col-md-3">
																	<h5>Select files</h5>
																	<div class="panel panel-white">
																		<div class="panel-body">
																			<div ng-show="uploaderDocs.isHTML5">
																				<!-- 3. nv-file-over uploader="link" over-class="className" -->
																				<div class="well my-drop-zone" nv-file-over="" uploader="uploaderDocs">
																					Base drop zone
																				</div>
																			</div>
																			<!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
																			<span class="btn btn-primary btn-o btn-file">
																				Select some files
																				<input type="file" nv-file-select="" uploader="uploaderDocs" multiple />
																			</span>
																			<br />
																		</div>
																	</div>
																</div>
																<div class="col-md-9 file-upload" style="margin-bottom: 40px">
																	<h4>The queue</h4>
																	<p>
																		Queue length: {{ uploaderDocs.queue.length }}
																	</p>
																	<div class="table-responsive">
																		<table class="table">
																			<thead>
																				<tr>
																					<th width="50%">Name</th>
																					<th ng-show="uploaderDocs.isHTML5">Size</th>
																					<th>Actions</th>
																				</tr>
																			</thead>
																			<tbody>
																				<tr ng-repeat="item in uploaderDocs.queue">
																					<td><strong>{{ item.file.name }}</strong><!-- Image preview --><!--auto height--><!--<div ng-thumb="{ file: item.file, width: 100 }"></div>--><!--auto width--><div ng-show="uploaderDocs.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div><!--fixed width and height --><!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>--></td>
																					<td ng-show="uploaderDocs.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
																					<td ng-show="uploaderDocs.isHTML5">

																					</td>
																					<td class="text-center"><span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span><span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span><span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span></td>
																					<td nowrap>
																						<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
																							<span class="glyphicon glyphicon-trash"></span> Remove
																						</button>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</div>
																	<div>
																		<button type="button" class="btn btn-primary btn-o btn-s" ng-click="uploaderDocs.clearQueue()" ng-disabled="!uploaderDocs.queue.length">
																			<span class="glyphicon glyphicon-trash"></span> Remove all
																		</button>
																	</div>
																</div>
															</div>
														</div>
													</fieldset>
													<div class="form-group">
														<button class="btn btn-primary btn-o back-step btn-wide pull-left" ng-click="form.prev(Form)">
															<i class="fa fa-circle-arrow-left"></i> Back
														</button>
														<button class="btn btn-primary btn-o next-step btn-wide pull-right" ng-click="form.next(Form)">
															Next <i class="fa fa-arrow-circle-right"></i>
														</button>
													</div>
												</div>
											</div>
										</div>
										<!-- end: WIZARD STEP 6 -->
										<!-- start: WIZARD STEP 7 -->
										<div id="step-7" ng-show="currentStep == 7">
											<div class="row">
												<div class="col-md-12">
													<div class="text-center">
														<h1 class=" ti-check block text-primary"></h1>
														<h2 class="StepTitle">Congratulations!</h2>
														<p class="text-large">
															You've finish the organization creation wizard
														</p>
														<p class="text-small">
															Thank you for your your time. You can now submit your application.
														</p>
														<a class="btn btn-primary btn-o"  ng-click="form.submit(Form)"> Submit </a>
													</div>
												</div>
											</div>
										</div>
										<!-- end: WIZARD STEP 7 -->
									</div>
									<pre class="code margin-top-20">{{ orga_form | json }}</pre>
								</form>
								<!-- end: WIZARD FORM -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- start: WIZARD DEMO -->
